{{/* Montagem do template - msg especifica para caso de problema e resolvidos*/}}
{{ define "Telegram.alert" -}}
    {{if eq .Status "firing"}}
        {{ template "Telegram.title" . }} 
        {{ template "Telegram.alertname" . }}
        {{ template "Telegram.summary" . }}
        {{ template "Telegram.description" . }}
        {{ template "Telegram.severity" . }}
        {{ template "Telegram.prometheus" . }}
        {{ template "Telegram.grafana" . }}
    {{end}}

    {{- if eq .Status "resolved"}}
        {{ template "Telegram.title" . }} 
        {{ template "Telegram.alertname" . }}
        {{ template "Telegram.summary" . }}
        {{ template "Telegram.prometheus" . }}
        {{ template "Telegram.grafana" . }}
    {{end}}
{{- end }}


{{/* Título do alerta do Telegram */}}
{{ define "Telegram.title" -}}
    {{if eq .Status "firing"}}
    <b>PROBLEMA ENCONTRADO</b> 🔥
    {{end}}
    {{- if eq .Status "resolved"}}
    <b>PROBLEMA RESOLVIDO</b>  ✅
    {{end}}
{{- end }}

{{ define "Telegram.alertname" -}}
    <b>Alerta:</b> {{ .CommonLabels.alertname }} 
{{- end }}

{{ define "Telegram.instance" -}}
    <b>Instancia:</b> {{ .CommonLabels.instance }}
{{- end }}

{{ define "Telegram.description" -}}
    <b>Descricao:</b> {{.CommonAnnotations.description}}
{{- end }}

{{ define "Telegram.summary" -}}
    <b>Resumo:</b> {{.CommonAnnotations.summary}}
{{- end }}

{{ define "Telegram.severity" -}}
    {{- if eq .CommonLabels.severity "critical" -}}
    <b>Severidade:</b> Critical 🔴
    {{- else if eq .CommonLabels.severity "warning" -}}
    <b>Severidade:</b> Warning 🟡
    {{- else if eq .CommonLabels.severity "info" -}}
    <b>Severidade:</b> Info 🔵
    {{- else -}}
    <b>Severidade:</b> :question: {{ .CommonLabels.severity }}
    {{- end }}
{{- end }}

{{ define "Telegram.prometheus" -}}
    <b>Prometheus:</b> 'http://192.168.1.10:9090/alerts?search=' 📊
{{- end }}

{{ define "Telegram.grafana" -}}
    <b>Grafana:</b> 'http://192.168.1.10:3000/alerting/list' 📊
{{- end }}