{{/* Título do alerta do Telegram */}}
{{ define "Telegram.title" -}}
    {{if eq .Status "firing"}}
    <b>Status:</b> {{.Status | toUpper }} 🔥
    {{end}}
    {{- if eq .Status "resolved"}}
    <b>Status:</b>{{.Status | toUpper}} ✅
    {{end}}
{{- end }}

{{ define "Telegram.alertname" -}}
    <b>Alerta:</b> {{ .CommonLabels.alertname }}
{{- end }}

{{ define "Telegram.instance" -}}
    <b>Instancia:</b> {{ .CommonLabels.instance }}
{{- end }}

{{ define "Telegram.description" -}}
    <b>Descricao:</b> {{.CommonAnnotations.description}}
{{- end }}

{{ define "Telegram.summary" -}}
    <b>Resumo:</b> {{.CommonAnnotations.summary}}
{{- end }}



{{ define "Telegram.severity" -}}
    {{- if eq .CommonLabels.severity "critical" -}}
    <b>Severidade:</b> Critical 🔴
    {{- else if eq .CommonLabels.severity "warning" -}}
    <b>Severidade:</b> Warning 🌕
    {{- else if eq .CommonLabels.severity "info" -}}
    <b>Severidade:</b> Info 🔵
    {{- else -}}
    <b>Severidade:</b> :question: {{ .CommonLabels.severity }}
    {{- end }}
{{- end }}

{{ define "Telegram.dashboard" -}}
    <b>Prometheus:</b> 'http://192.168.1.10:9090/alerts?search='
    <b>Grafana:</b> 'http://192.168.1.10:3000/alerting/list'
{{- end }}